{
  "amp": {
    "min": 0.5,
    "max": 4.0,
    "initial": 1.0,
    "up_speed": 0.5,
    "down_speed": 0.25,
    "description": "Brightness multiplier so the visualizer is not too dim or too bright"
  },

  "decay-alpha" : 0.8,
  "what-is-decay-alpha": "Controls how quickly the visualizer 'decays' or fades out.",
  "what-is-decay": "A higher value means longer fade out, while a lower value means faster fade out.",

  "np1": {
    "description": "Phone 1 with 15 zones",
    "phone_model": "PHONE1",
    "zones": [
      [200, 600, "Camera glyph"],
      [2000, 6000, "Essential glyph (slash)"],
      [120, 170, "Center glyph bottom-left"],
      [170, 250, "Center glyph bottom-right"],
      [20, 90, "Center glyph top-right (near essential glyph)"],
      [90, 120, "Center glyph top-left (near camera glyph)"],
      [6000, 20000, "Bottom dot (high frequencies)"],
      [1700, 3000, "Battery glyph 1/8, bottom, near dot"],
      [1500, 1700, "Battery glyph 2/8"],
      [1250, 1500, "Battery glyph 3/8"],
      [1060, 1250, "Battery glyph 4/8"],
      [875, 1060,  "Battery glyph 5/8"], 
      [687, 875,   "Battery glyph 6/8"],
      [500, 687,   "Battery glyph 7/8"],
      [300, 500,   "Battery glyph 8/8, top, near charging coil"]
    ]
  },
  "np1s": {
    "description": "Phone 1 with 5 zones, less subbass vizualization, compatible with Phone 2",
    "phone_model": "PHONE1",
    "zones": [
      [200, 600, "Camera glyph"],
      [2000, 6000, "Essential glyph (slash)"],
      [90, 250, "Center glyph"],
      [600, 3000, "Battery glyph"],
      [6000, 20000, "Bottom dot"]
    ]
  },
  "np2": {
    "description": "Phone 2 NOT DONE YET",
    "phone_model": "PHONE2",
    "zones": [
      [200, 600, "Camera glyph"],
      [200, 600, "Camera glyph"],
      [2000, 6000, "Essential glyph (slash)"],
      [120, 170, "Center glyph bottom-left"],
      [170, 250, "Center glyph bottom-right"],
      [20, 90, "Center glyph top-right (near essential glyph)"],
      [90, 120, "Center glyph top-left (near camera glyph)"],
      [6000, 20000, "Bottom dot (high frequencies)"],
      [1700, 3000, "Battery glyph 1/8, bottom, near dot"],
      [1500, 1700, "Battery glyph 2/8"],
      [1250, 1500, "Battery glyph 3/8"],
      [1060, 1250, "Battery glyph 4/8"],
      [875, 1060,  "Battery glyph 5/8"], 
      [687, 875,   "Battery glyph 6/8"],
      [500, 687,   "Battery glyph 7/8"],
      [300, 500,   "Battery glyph 8/8, top, near charging coil"]
    ]
  },
  "np2a": {
    "description": "Phone 2a NOT DONE YET",
    "phone_model": "PHONE2A",
    "zones": [
      [200, 600, "Zone 1"],
      [2000, 6000, "Zone 2"],
      [120, 170, "Zone 3"],
      [170, 250, "Zone 4"],
      [20, 70, "Zone 5"],
      [60, 120, "Zone 6"],
      [6000, 20000, "Zone 7"],
      [1700, 3000, "Zone 8"],
      [1500, 1700, "Zone 9"],
      [1250, 1500, "Zone 10"],
      [1060, 1250, "Zone 11"],
      [875, 1060,  "Zone 12"], 
      [687, 875,   "Zone 13"],
      [500, 687,   "Zone 14"],
      [500, 300,   "Zone 15" ]
      
    ]
  },
  "np3a": {
    "description": "Phone 3a Spectrum",
    "phone_model": "PHONE3A",
    "zones": [
      [13144, 15000, "Zone 1"],
      [11518, 13144, "Zone 2"],
      [10093, 11518, "Zone 3"],
      [8844, 10093, "Zone 4"],
      [7750, 8844, "Zone 5"],
      [6791, 7750, "Zone 6"],
      [5951, 6791, "Zone 7"],
      [5215, 5951, "Zone 8"],
      [4569, 5215, "Zone 9"],
      [4004, 4569, "Zone 10"],
      [3509, 4004, "Zone 11"],
      [3075, 3509, "Zone 12"],
      [2694, 3075, "Zone 13"],
      [2361, 2694, "Zone 14"],
      [2069, 2361, "Zone 15"],
      [1813, 2069, "Zone 16"],
      [1588, 1813, "Zone 17"],
      [1392, 1588, "Zone 18"],
      [1220, 1392, "Zone 19"],
      [1069, 1220, "Zone 20"],
      [937, 1069, "Zone 21"],
      [821, 937, "Zone 22"],
      [719, 821, "Zone 23"],
      [630, 719, "Zone 24"],
      [552, 630, "Zone 25"],
      [484, 552, "Zone 26"],
      [424, 484, "Zone 27"],
      [372, 424, "Zone 28"],
      [326, 372, "Zone 29"],
      [285, 326, "Zone 30"],
      [250, 285, "Zone 31"],
      [204, 250, "Zone 32"],
      [166, 204, "Zone 33"],
      [135, 166, "Zone 34"],
      [110, 135, "Zone 35"],
      [90, 110,  "Zone 36"]
    ]
  }
}
