{
  "amp": {
    "min": 0.5,
    "max": 4.0,
    "initial": 1.0,
    "up_speed": 0.5,
    "down_speed": 0.25,
    "description": "Brightness multiplier so the visualizer is not too dim or too bright"
  },

  "decay-alpha" : 0.8,
  "what-is-decay-alpha": "Controls how quickly the visualizer 'decays' or fades out.",
  "what-is-decay": "A higher value means longer fade out, while a lower value means faster fade out.",

  "np1": {
    "description": "Phone 1 with 15 zones",
    "phone_model": "PHONE1",
    "zones": [
      [200, 600, "Camera glyph"],
      [2000, 6000, "Essential glyph (slash)"],
      [120, 170, "Center glyph bottom-left"],
      [170, 250, "Center glyph bottom-right"],
      [20, 90, "Center glyph top-right (near essential glyph)"],
      [90, 120, "Center glyph top-left (near camera glyph)"],
      [6000, 20000, "Bottom dot (high frequencies)"],
      [1700, 3000, "Battery glyph 1/8, bottom, near dot"],
      [1500, 1700, "Battery glyph 2/8"],
      [1250, 1500, "Battery glyph 3/8"],
      [1060, 1250, "Battery glyph 4/8"],
      [875, 1060,  "Battery glyph 5/8"], 
      [687, 875,   "Battery glyph 6/8"],
      [500, 687,   "Battery glyph 7/8"],
      [300, 500,   "Battery glyph 8/8, top, near charging coil"]
    ]
  },

"np1b": {
  "description": "Phone 1 (15 zones) with a more reliable bass level vizualization, using the new progressbar mode",
  "phone_model": "PHONE1",
  "zones": [
    [200, 600, "Camera glyph"],
    [2000, 6000, "Essential glyph (slash)"],
    [20, 250, "Center glyph bottom-left", 40, 70],
    [20, 250, "Center glyph bottom-right", 10, 50],
    [20, 250, "Center glyph top-right (near essential glyph)", 70, 100], 
    [20, 250, "Center glyph top-left (near camera glyph)", 60, 80],
    [6000, 20000, "Bottom dot (high frequencies)"],
    [1700, 3000, "Battery glyph 1/8, bottom, near dot"],
    [1500, 1700, "Battery glyph 2/8"],
    [1250, 1500, "Battery glyph 3/8"],
    [1060, 1250, "Battery glyph 4/8"],
    [875, 1060,  "Battery glyph 5/8"], 
    [687, 875,   "Battery glyph 6/8"],
    [500, 687,   "Battery glyph 7/8"],
    [300, 500,   "Battery glyph 8/8, top, near charging coil"]
  ]
},

  "np1s": {
    "description": "Phone 1 with 5 zones, less subbass vizualization, compatible with Phone 2",
    "phone_model": "PHONE1",
    "zones": [
      [200, 600, "Camera glyph"],
      [2000, 6000, "Essential glyph (slash)"],
      [90, 250, "Center glyph"],
      [600, 3000, "Battery glyph"],
      [6000, 20000, "Bottom dot"]
    ]
  },
  "np2": {
    "description": "Phone 2 NOT DONE YET",
    "phone_model": "PHONE2",
    "zones": [
      [200, 600, "Camera glyph"],
      [200, 600, "Camera glyph"],
      [2000, 6000, "Essential glyph (slash)"],
      [120, 170, "Center glyph bottom-left"],
      [170, 250, "Center glyph bottom-right"],
      [20, 90, "Center glyph top-right (near essential glyph)"],
      [90, 120, "Center glyph top-left (near camera glyph)"],
      [6000, 20000, "Bottom dot (high frequencies)"],
      [1700, 3000, "Battery glyph 1/8, bottom, near dot"],
      [1500, 1700, "Battery glyph 2/8"],
      [1250, 1500, "Battery glyph 3/8"],
      [1060, 1250, "Battery glyph 4/8"],
      [875, 1060,  "Battery glyph 5/8"], 
      [687, 875,   "Battery glyph 6/8"],
      [500, 687,   "Battery glyph 7/8"],
      [300, 500,   "Battery glyph 8/8, top, near charging coil"]
    ]
  },
  "np2a": {
    "description": "Phone 2a with 26 zones - optimized spectrum visualizer",
    "phone_model": "PHONE2A",
    "zones": [
      [20, 25, "Zone 1 - Sub bass"],
      [25, 32, "Zone 2"],
      [32, 40, "Zone 3"],
      [40, 50, "Zone 4"],
      [50, 63, "Zone 5"],
      [63, 80, "Zone 6"],
      [80, 100, "Zone 7"],
      [100, 125, "Zone 8"],
      [125, 160, "Zone 9"],
      [160, 200, "Zone 10"],
      [200, 250, "Zone 11"],
      [250, 315, "Zone 12"],
      [315, 400, "Zone 13"],
      [400, 500, "Zone 14"],
      [500, 630, "Zone 15"],
      [630, 800, "Zone 16"],
      [800, 1000, "Zone 17"],
      [1000, 1250, "Zone 18"],
      [1250, 1600, "Zone 19"],
      [1600, 2000, "Zone 20"],
      [2000, 3150, "Zone 21"],
      [3150, 5000, "Zone 22"],
      [5000, 8000, "Zone 23"],
      [8000, 16000, "Zone 24 - Air"],
      [8000, 20000, "Zone 25 - Treble accent (straight glyph)"],
      [30, 120, "Zone 26 - Bass accent (tiny glyph)"]
    ]
  },
  "np3a": {
    "description": "Phone 3a Spectrum",
    "phone_model": "PHONE3A",
    "zones": [
      [13144, 15000, "Zone 1"],
      [11518, 13144, "Zone 2"],
      [10093, 11518, "Zone 3"],
      [8844, 10093, "Zone 4"],
      [7750, 8844, "Zone 5"],
      [6791, 7750, "Zone 6"],
      [5951, 6791, "Zone 7"],
      [5215, 5951, "Zone 8"],
      [4569, 5215, "Zone 9"],
      [4004, 4569, "Zone 10"],
      [3509, 4004, "Zone 11"],
      [3075, 3509, "Zone 12"],
      [2694, 3075, "Zone 13"],
      [2361, 2694, "Zone 14"],
      [2069, 2361, "Zone 15"],
      [1813, 2069, "Zone 16"],
      [1588, 1813, "Zone 17"],
      [1392, 1588, "Zone 18"],
      [1220, 1392, "Zone 19"],
      [1069, 1220, "Zone 20"],
      [937, 1069, "Zone 21"],
      [821, 937, "Zone 22"],
      [719, 821, "Zone 23"],
      [630, 719, "Zone 24"],
      [552, 630, "Zone 25"],
      [484, 552, "Zone 26"],
      [424, 484, "Zone 27"],
      [372, 424, "Zone 28"],
      [326, 372, "Zone 29"],
      [285, 326, "Zone 30"],
      [250, 285, "Zone 31"],
      [204, 250, "Zone 32"],
      [166, 204, "Zone 33"],
      [135, 166, "Zone 34"],
      [110, 135, "Zone 35"],
      [90, 110,  "Zone 36"]
    ]
  }
}
